
body{
    width: auto;
}
.global{
    display: flex;
    flex-flow: row;
    /* background-color: #5d1c34	; */
    width: 90%;
    height: auto;
    border-radius: 20px;
    justify-self: center;
}

.global h1{
    margin-top: 50px;
    color: #cdbcab;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.formulario{
    height: auto;
    margin-top: 20px;
    background-color: #5d1c34;
    width: 90%;
    border-radius: 20px;
    border: #B17871 solid 2px;
}

.login{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 30px;
    padding: 15px;
}

.login label{
    color: #cdbcab	;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.login input[type='text'],
input[type='password'],
input[type='number'], 
input[type='date'],
textarea,
input[type='decimal']{
    height: 40px;
    border-radius: 10px;
    border: solid 2px #B17871	;
    background-color: #FFF	;
    color: rgb(101, 101, 101);
}

.login input[type='submit']{
    background-color: #D08A98	;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    border: none;
    height: 50px;
}

.login input[type='submit']:hover {
    background-color: #B17871;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(28, 29, 30);
    border: none;
    height: 50px;
    
    cursor: pointer; /* SUGESTÃO DE PONTEIRO GUILHERME (PONTEIRO MÃOZINHA) */
}


/* AJUSTAR OS RADIOS BUTTONS JUNTAMENTE COM O LABEL */
.rbativo{
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.rbativo input[type='radio'], label{
    padding: 5px;
}


.imagem{
    height: auto;
    margin-top: 20px;
    background-color: #5d1c34;
    width: 90%;
    border-radius: 20px;
    border: #B17871 solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.imagem img{
    width: 90%;
    height: 90%;
    border-radius: 10px;
}